/* ALL SLIDE GENERAL STYLES */
slides {
  background-color:black;
}

.title-slide aside {
  position:absolute;
  left:0;
  top:0;
  
  width:100%;
  height:100%;
  
  background-color:white;
  background-image:none;
}

.title-slide aside > img {
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  
  width:auto;
  height:auto;
  max-width:500px;
  max-height:300px;
  margin:0;
  
}

.title-slide hgroup {
  visibility:hidden;
}

.far-past, .past, .current, .next, .far-next {
  padding:0;
  margin:0;
  margin-top:-350px;
}

slides > slide > hgroup + article {
  padding:0 0 0 0;
  margin:0 0 0 0;
}

slides > slide > hgroup + article p {
  margin:0 0 0 0;
  padding:0 0 0 0;
}

slide {
  background-color:white;
}




/* MPR TITLE SLIDE */
.MPR-header-logo {
  
  margin-left:25px;
  margin-right:25px;
  margin-top:10px;
  margin-bottom:0;
  height:85px;
  border-bottom:4px solid rgb(231,0,51);
  padding:10px;
}

.MPR-title-slide {
  
  width:70%;
  margin-left:30%;
  margin-top: 14%;
  padding-right:18%;
  
  color:rgb(16,51,90);
  font-family:"Arial Black", Gadget, sans-serif;

}

.MPR-pres-title {
  font-weight:bold;
  font-size:30px;
  margin-bottom:1em;
}

.MPR-pres-title span {
  font-weight:normal;
  font-family:Arial, Helvetica, sans-serif;
}

.MPR-pres-detail {
  font-size:18px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding:5px 0 5px 0;
}

.MPR-authors {
  font-family:Arial, Helvetica, sans-serif;
  font-size:17px;
  margin-top:10px;
}


.MPR-title-slide-footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  
  margin-left:25px;
  margin-right:25px;
  height:70px;
  
  border-top:2px solid rgb(231,0,51);
  
  padding:0;
}





/* MPR SECTION TITLE SLIDE */
.MPR-section-slide {
  width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 14%;
  
  color:rgb(16,51,90);
  font-family:"Arial Black", Gadget, sans-serif;
  font-size:30px;
  font-weight:bold;
  
  text-align:center;
}




/* MPR TEXT SLIDES */
.MPR-text-slide {
  margin: 30px 50px 30px 50px;
  
  color:rgb(16,51,90);
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  
  overflow:auto;
}

.MPR-column {
  float:left;
  width:50%;
}

.MPR-column span {
  font-family:"Arial Black", Gadget, sans-serif;
  font-size:26px;
  font-weight:bold;
}

.MPR-column.column-1 {
  padding-right:10px;
}

.MPR-column.column-2 {
  padding-left:10px;
}






/* ALL NON-TITLE SLIDES */
.MPR-slide-header {
  margin-left:25px;
  margin-right:25px;
  margin-top:10px;
  margin-bottom:0;
  height:85px;
  border-bottom:4px solid rgb(231,0,51);
  
  text-align:center;
  line-height:71px;
  font-family:"Arial Black", Gadget, sans-serif;
  color:rgb(16,51,90);
  font-size:30px;
  font-weight:bold;
}

.MPR-slide-footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  
  margin-left:25px;
  margin-right:25px;
  height:70px;
  
  border-top:2px solid rgb(231,0,51);
  
  padding:10px;
}





/* ALL SLIDES */
slides > slide > h1, .h1, h2, .h2, h3, .h3 {
  margin:0;
  padding:0;
}

slides > slide:not(.nobackground):after {
  right:538px;
  visibility:hidden;
}

.MPR-logo, .Partner-logo {
  height:100%;
}

.MPR-logo {
  float:left;
}

.Partner-logo {
  float:right;
}

ul > li {
  font-size: 26px;
}

li > ul > li {
  font-size: 22px;
}

pre {
  position:inherit;
  width:100%;
}